<!DOCTYPE html>
<html>
  <head>
    <!-- NAV BAR -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home',root_path, class:'navbar-brand'%>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'About',root_path %></li>
            
            <li><%= link_to 'Travel',root_path %></li>
            <li><%= link_to 'Timeline',root_path %></li>
            <li class="dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Links <span class="caret"></span></a>
             
              <ul class="dropdown-menu">
                <li><%= link_to 'Link 1',root_path %></li>
                <li><%= link_to 'Link 2',root_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Link 3',root_path %></li>
              </ul>
            </li>
          </ul>
        
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag current_user.avatar.url,class: 'avatar' %> <%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
                  <li><%= link_to 'Sign Out',destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Log In / Join <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Link 4',root_path %></li>
                  <li><%= link_to 'Link 5',root_path %></li>
                </ul>
              </li>
            <% end%>
          </ul>
        </div>
      </div>
    </nav>

    <title>FirstBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class='container-fluid'>
      <p class='notice'><%=notice %></p>
      <p class='alert'><%= alert %> </p>
      <%= yield %>
    </div>
  </body>
</html>
